@font-face {
    font-family: "Gochi Hand";
    src: url("GochiHand-Regular.ttf") format("truetype");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    background-color: #222;
    color: #f8f8f8;
    font-family: 'Gochi Hand', cursive;
}
#chalkboard {
    margin: 0 auto;
}
#input-container {
    height: 32px;
}
#input-container > div {
    display: inline-block;
    margin-right: 1.5em;
    padding-left: 10px;
}
input[type="text"], input[type="number"] {
    display: inline-block;
    font-family: 'Gochi Hand', cursive;
    font-size: 20px;
    color: white;
    background-color: #222;
    border: 1px solid #f8f8f8;
    height: 32px;
    padding: 3px 6px;
}
input[type="text"] {
    min-width: 25em;
}
input[type="number"] {
    text-align: center;
    width: 4em;
}
#download-icon {
    position: fixed;
    left: 20px;
    top: 20px;
    width: 44px;
    height: 44px;
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}
